#22-01-2025
pip install django
pip install pandas
pip install numpy
pip install scikit-learn
pip install PyPDF2
pip install mysqlclient
pip install pillow
#23-01-2025
pip install djangorestframework
pip install django-cors-headers
npm install axios
